@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(45deg, #ff00f7, #2e96e5); /* You can customize the colors and angle */
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 auto;
}
.gradient-bg{
  background: linear-gradient(45deg, #ff00f7, #2e96e5);
}

.bg-grid{
  background: url('/grid.svg');
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  opacity: 0.4;
}

